body {
    margin: 0;
    font-family: 'Inter', sans-serif;
} 

.title {
    text-align: center;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 100px 0 0;
}

.aaimg {
    border: 4px solid #000;
    margin: 20px 0 20px 0;
}

.name {
    border-radius: 10px;
    width: 260px;
    padding: 0 20px 0 20px;
    border: 1px solid #000;
    background: #E8E8E8;
    text-align: center;
    font-weight: lighter;
    font-size: 20px;
}

.type-container {
    margin: 20px 0 20px 30px;
    width: 420px;
    /* margin-bottom: 20px; */
}

.type-container p {
    margin-top: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

.type {
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    width: fit-content;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.arrow-button button {
    margin: 10px 20px 10px 20px;
    padding: 5px 25px 5px 25px;
    border: 1px solid #000;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    width: fit-content;
}

#inner-type-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    font-weight: lighter;
}

#content-type {
    font-weight: bold;
}

#content-box {
    background: #E8E8E8;
    padding: 30px 80px 50px 20px;
    width: 240px;
}


.info-moves-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.info-moves-button button {
    padding: 5px 20px 5px 20px;
    border: 1px solid #000;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    width: fit-content;
}

#info-button {
    margin: 10px 20px 10px 20px;
}

#moves-button {
    margin: 10px 20px 10px 20px;
}

/* .nav-bar {
    background-color: #fbf7f4;
    margin: 0;
}

.nav-bar a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-family: sans-serif;
}

.nav-bar a:hover {
    color: red;
    transition: color 0.3s;
}


ul.nav-bar {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.nav-bar li {
    padding: 10px;
    padding-right: 30px;
}

footer {
    position: fixed;
    bottom: 0;
} */ */